
<div class="container">
    <h1 class="red-text">Hero Form</h1>

    <form #heroForm="ngForm">

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username"  required [(ngModel)]="user.username" value="user.username" name="username">
      </div> 

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
      </div> 

      <button (click)="validerFormulaire()" class="btn btn-success">Submit</button>
    </form>

</div>